.box-about-us--header {
    color: #CECECE;
    font-size: 24px;
    text-transform: uppercase;
    padding: 35px 0px 35px 0px;
}

@media screen and (max-width: 1024px) {

    .box-about-us--header {
        font-size: 18px;
        width: auto;
        height: auto;
        padding: 28px 0px 28px 0px;
        text-align: center;
    }
}