.bedroom-page--head-breadcrumbs {
    width: 1184px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 32px;
    font-size: 24px;
}

@media screen and (max-width: 768px) {

    .bedroom-page--head-breadcrumbs {
        width: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
        font-size: 24px;
    }
}