#topcontactbar {
    display: inline-flex;
    justify-content: flex-end; 
    background-color: #DDC79F;
    width: 100%;
}

#topcontactbar a {
    display: flex;
    align-items: center;
    height: 30px;
    color: #323545;
    margin: 0px;
    text-decoration: none;
}

.e-mail{
    width: 364px;
}

.tel {
    width: 250px;
}

@media screen and (max-width: 768px) {

    #topcontactbar {
        display: inline-flex;
        justify-content: space-around;
    }
    
    #topcontactbar a {
        font-size: 12px;
        width: auto;
    }
}
