.box-work-social {
    width: 272px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-left: 32px;
}

.box-work-social img {
    object-fit: cover;
    height: 278px;
    width: 272px;
}

@media screen and (max-width: 768px) {

    .box-work-social {
        width: auto;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .box-work-social img {
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        height: 185px;
        width: 355px;
    }
}
