#contact-page--information {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding-top: 32px;
}


.contact-page--data,
.contact-page--form {
    height: 692px;
    background-color: #DDC79F;
    border-radius: 20px;
}

.contact-page--data-body,
.contact-page--form-body {
    height: 628px;
    background-color: #424657;
}

.contact-page--data {
    width: 272px;
}

.contact-page--form {
    width: 880px; 
}

.contact-page--information-head {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact-page--information-header {
    font-size: 24px;
    color: #333646;
    text-transform: uppercase;
}

.contact-page--data-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 16px 0 16px 0;
}

.contact-page--data-body h4 {
    font-size: 24px;
    color: #DDC79F;
    font-weight: lighter;
    display: flex;
    justify-content: center;
}

.contact-page--data-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.contact-page--data-list li:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.contact-page--data-list li:nth-child(2) span {
    display: flex;
    justify-content: center;
}

.contact-page--data-body i {
    color: #DDC79F;
    padding-right: 16px;
    padding-left: 16px;
    font-size: 18px;
}

.contact-page--data-body span {
    color: #CECECE;
    font-size: 18px;
}

.contact-page--email {
    display: flex;
}

.contact-page--email span {
    display: flex;
    align-content: center;
    padding-bottom: 16px;
}

.contact-page--tel {
    padding-bottom: 16px;
}

.contact-page--tel a,
.contact-page--data-list a,
.contact-page--email a {
    color: #CECECE;
    text-decoration: none;
    font-size: 18px;
}

.contact-page--tel a:hover,
.contact-page--data-list a:hover,
.contact-page--email a:hover {
    color: #DDC79F;
    text-decoration: underline;
}

.contact-page--adress {
    display: flex;
    justify-content: flex-start;
}

.contact-page--adress div {
    display: flex;
    flex-direction: column;
}

.contact-page--button {
    width: 254px;
    height: 64px;
    background-color: #DDC79F;
    font-size: 18px;
    border-radius: 50px;
    border: none;
    color:#323545;
}

.contact-page--button:hover {
    text-decoration: underline;
}

.contact-page--button-section {
    display: flex;
    justify-content: center;
}

.contact-page--form-content {
    background-color:#424657;
}

.contact-page--form-content span {
    font-size: 10px;
}

.contact-page--form-check-box {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 768px) {

    #contact-page--information {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contact-page--form {
        width: auto; 
        height: 1200px;
    }

    .contact-page--information-head {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .contact-page--form-content {
        width: auto;
    }
    
    .contact-page--information-header {
        font-size: 18px;
    }
    
    .contact-page--data-body {
        width: auto;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        padding: 0;
    }
    
    .contact-page--data-body h4 {
        font-size: 24px;
        color: #DDC79F;
        font-weight: lighter;
        display: flex;
        justify-content: center;
    }
    
    .contact-page--data-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
    
    .contact-page--data-list li:nth-child(2) {
        display: flex;
        flex-direction: column;
    }
    
    .contact-page--data-list li:nth-child(2) span {
        display: flex;
        justify-content: center;
    }
    
    .contact-page--data-body i {
        color: #DDC79F;
        padding-right: 16px;
        padding-left: 16px;
        font-size: 18px;
    }
    
    .contact-page--data-body span {
        color: #CECECE;
        font-size: 18px;
    }
    
    .contact-page--email {
        display: flex;
    }
    
    .contact-page--email span {
        display: flex;
        align-content: center;
        padding-bottom: 16px;
    }
    
    .contact-page--tel {
        padding-bottom: 16px;
    }
    
    .contact-page--tel a,
    .contact-page--data-list a,
    .contact-page--email a {
        color: #CECECE;
        text-decoration: none;
        font-size: 18px;
    }
    
    .contact-page--tel a:hover,
    .contact-page--data-list a:hover,
    .contact-page--email a:hover {
        color: #DDC79F;
        text-decoration: underline;
    }
    
    .contact-page--adress {
        display: flex;
        justify-content: flex-start;
    }
    
    .contact-page--adress div {
        display: flex;
        flex-direction: column;
    }
    
    .contact-page--button {
        width: 254px;
        height: 64px;
        background-color: #DDC79F;
        font-size: 18px;
        border-radius: 50px;
        border: none;
        color:#323545;
    }
    
    .contact-page--button:hover {
        text-decoration: underline;
    }
    
    .contact-page--button-section {
        display: flex;
        justify-content: center;
    }
    
    .contact-page--form-content {
        background-color:#424657;
    }
    
    .contact-page--form-content span {
        font-size: 10px;
    }
    
    .contact-page--form-check-box {
        display: flex;
        justify-content: flex-end;
    }
}