.footer-pages-items--wrapper {
    font-size: 18px;
    color: #fff;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
}

.footer-pages-items--icon {
    font-size: 18px;
    color: #DDC79F;
    display: flex;
    align-items: center;
}

.footer-pages-items--link {
    text-decoration: none;
    color: #fff;
}

.footer-pages-items--link:hover {
    color: #DDC79F;
    text-decoration: underline;
}

@media (min-width:769px) and (max-width:1024px) {

    .footer-pages-items--wrapper {
        font-size: 12px;
        padding-bottom: 16px;
        width: auto;
    }
    
    .footer-pages-items--icon {
        font-size: 12px;
    }
    
    .footer-pages-items--link {
        font-size: 12px;
        text-decoration: none;
        color: #fff;
        width: auto;
    }
}