.footer-section {
    padding-top: 160px;
}

.footer-container {
    padding: 0px 128px 0px 128px; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #5A5F73;
}

.footer-main {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 32px;
}

.footer-main h3{
    color: #DDC79F;
    font-size: 24px;
    text-transform: uppercase;
    height: auto;
    padding-bottom: 32px;
    display: flex;
    justify-content: center;

}

.footer-main--col1 { 
    display: flex;
    justify-items: left;
    flex-direction: column;
}

.footer-main--col1,
.footer-main--col2,
.footer-main--col3,
.footer-main--col4 {
   
    padding-left: 32px;
    padding-right: 32px;
}

.footer-logo { 
    align-self: center;
}

.footer-logo--img {
    width: 100px;
    height: 108px;
    padding-bottom: 32px;
}

.footer-description {
    color: #fff;
    font-size: 18px;
    width: 208px;
    height: auto;
    padding-bottom: 46px;
}

.footer-social-media {
    display: flex;
    justify-content: flex-start;
}

.footer-social-media--list a {
    color:#DDC79F;
    font-size: 18px;
}

.footer-social-media--list li {
    padding-right: 18px;
}

.footer-social-media--list {
    list-style: none;
    display: flex;
}

.footer-signature {
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #FFFFFF;
}

.footer-signature i {
    color: #DDC79F;
}

.footer-signature a {
    color: #DDC79F;
    text-decoration: none;
}

.footer-signature a:hover {
    font-weight: 700;
}

@media screen and (max-width: 768px) {

    .footer-section {
        padding-top: 64px;
    }

    .footer-main{
        padding-top: 16px;
        padding-bottom: 16px;
        display: grid;
        grid-template-columns: repeat(2, 1);
        grid-template-rows: repeat(3, 1);
        grid-column-gap: 0px;
        grid-row-gap: 16px;
    }

    .footer-main--col1 { grid-area: 1 / 1 / 2 / 3; }
    .footer-main--col2 { grid-area: 2 / 1 / 3 / 2; }
    .footer-main--col3 { grid-area: 2 / 2 / 3 / 3; }
    .footer-main--col4 { grid-area: 3 / 1 / 4 / 3; }
    
    .footer-container {
        padding: 0px; 
        width: auto;
        height: auto;
    }

    .footer-main--col1 { 
        display: grid;
        grid-template-columns: repeat(2, 1);
        grid-template-rows: repeat(2, 1);
        grid-column-gap: 32px;
    }

    .footer-logo { 
        align-self: center;
        grid-area: 1 / 1 / 2 / 2;
    }
    
    .footer-logo--img {
        width: 60px;
        height: 66px;
        padding: 0px;
    }
    
    .footer-description {
        font-size: 12px;
        width: auto;
        height: auto;
        text-align: center;
        padding-bottom: 16px;
        grid-area: 1 / 2 / 2 / 3;
    }
    
    .footer-social-media {
        padding-top: 16px; 
        grid-area: 2 / 1 / 3 / 3;
        justify-self: center;
    }
    
    .footer-social-media--list a {
        color:#DDC79F;
        font-size: 24px;
    }
    
    .footer-social-media--list li {
        padding-right: 18px;
    }
    
    .footer-social-media--list {
        list-style: none;
        display: flex;
    }

    .footer-main h3{
        font-size: 18px;
        padding-bottom: 16px;
        width: auto;
    }

    .footer-main--col4 .footer-main--button {
        position: relative;
        right: 5%;
        bottom: 30%;
    
    }
}