.dropdown-menu {
  background: #424657;
  width: 180px;
  position: absolute;
  top: 105px;
  list-style: none;
  text-align: center;
  border-radius: 20px;
  z-index: 20;
}

.dropdown {
  background: #DDC79F;
  width: 180px;
  position: absolute;
  top: 50px;
  list-style: none;
  text-align: center;
  border-radius: 20px;
  z-index: 20;
}

.dropdown-menu li {
  background: #424657;
  cursor: pointer;
  border-radius: 20px;
}

.dropdown-menu li:hover {
  background: #DDC79F;
}

.dropdown li:hover {
  background: #424657;
  border-radius: 20px;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown.active {
  background: #DDC79F;
  width: 180px;
  position: absolute;
  top: 50px;
  list-style: none;
  text-align: center;
  border-radius: 20px;
  z-index: 20;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: rgb(151, 59, 59);
  padding: 16px;
}

@media screen and (max-width: 768px) {

  .dropdown-menu {
    background: #424657;
    width: auto;
    height: auto;
    position: relative;
    top: none;
    list-style: none;
    text-align: center;
    border-radius: 20px;
    z-index: 0;
  }

  .dropdown.active {
    background: #DDC79F;
    width: 180px;
    position: absolute;
    top: none;
    list-style: none;
    text-align: center;
    border-radius: 20px;
    z-index: 20;
  }
}