.footer-information i {
    color: #DDC79F;
    padding-right: 16px;
    padding-left: 16px;
    font-size: 18px;
}

.footer-information span, a {
    color: #fff;
    font-size: 18px;

}

.footer-information--row1 {
    padding-bottom: 32px;
}

.footer-information--adress {
    display: flex;
}

.footer-information--adress span {
    display: flex;
    align-content: center;
}

.footer-information--email {
    display: flex;
}

.footer-information--email a {
    display: flex;
    align-content: center;
    padding-bottom: 16px;
    text-decoration: none;
}
.footer-information--tel {
    padding-bottom: 16px;
}

.footer-information--tel a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.footer-information--tel a:hover,
.footer-information--email a:hover {
    color: #DDC79F;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {

    .footer-information {
        display: flex;
    }

    .footer-information--row1 {
       align-items: center;
    }

    .footer-information h3 {
        font-size: 18px;
        width: auto;
    }

    .footer-information i {
        color: #DDC79F;
        padding-right: 16px;
        padding-left: 16px;
        font-size: 12px;
    }
    
    .footer-information span, a {
        color: #fff;
        font-size: 12px;
        width: auto;
    }

    .footer-information--tel a{
        font-size: 12px;
    }

    .footer-information i {
        padding-left: 0px;
        font-size: 12px;
    }
}

@media (min-width:769px) and (max-width:1024px) {



    .footer-information h3 {
        font-size: 18px;
    }

    .footer-information i {
        font-size: 12px;
    }
    
    .footer-information span, a {
        color: #fff;
        font-size: 12px;
        width: auto;
    }

    .footer-information--tel a{
        font-size: 12px;
    }

    .footer-information i {
        padding-left: 0px;
        font-size: 12px;
    }
}