.about-us--paragraph {
    color: #CECECE;
    font-size: 18px;
    height: auto;
    text-align: justify;
    line-height: 28px;
    width: 447px;
    padding: 33px 0 33px 0;
}

@media screen and (max-width: 1024px) {

    .about-us--paragraph {
        font-size: 12px;
        line-height: 24px;
        height: auto;
        text-align: justify;
        line-height: 28px;
        width: auto;
        padding: 0px 16px 16px 16px;
    }
}