.listItem__wrapper {
    gap: 0;
    width: 272px;
    height: 212px;
    background-color: #424657;
    border-radius: 40px;   
}

.listItem__wrapper__text {
    color: #CECECE;
    font-size: 12px;
    height: 94px;
    text-align: justify;
    padding-left: 48px;
    padding-right: 48px;
}

.listItem__wrapper__link {
    padding-left: 48px;
    color: #DDC79F;
    font-size: 12px;
    text-decoration: none;
}


.listItem__wrapper__icon {
    color: #DDC79F;
    width: 32px;
    height: 32px;
}

.listItem__wrapper__top {
    display: flex;
    justify-content: center;
    height: fit-content;
    padding-top: 16px;
    padding-bottom: 16px;
}

.listItem__wrapper__header {
    color: #DDC79F;
    font-size: 24px;
    width: 208px;
    text-align: center;
}

@media screen and (max-width: 768px) {

    .listItem__wrapper {
        width: auto;
        height: auto;
        border-radius: 20px;  
    }

    .listItem__wrapper__text {
        line-height: 24px;
        height: auto;
        text-align: justify;
        padding: 0 32px 16px 32px;
    }
    
    .listItem__wrapper__icon {
        width: 21px;
        height: 21px;
    }

    .listItem__wrapper__top {
        display: flex;
        justify-content: left;
        height: fit-content;
        padding-left: 32px;
    }
    
    .listItem__wrapper__header {
        font-size: 18px;
        width: auto;
        padding-left: 52px;
    }

    .listItem__wrapper__bottom {
        padding-bottom: 16px;
    }

}
