.box-about-us {
    width: 575px;
    height: 575px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 8px;

    --b:10px;   /* thickness of the border */
    --c:#DDC79F;   /* color of the border */
    --w:115px;  /* width of border */
  
    border:var(--b) solid transparent; /* space for the border */
    --g:#424657 90deg,var(--c) 0;
    background:
      conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--g)) 0    0,
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--g)) 100% 0,
      conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--g)) 0    100%,
      conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--g)) 100% 100%;
    background-size:var(--w) var(--w);
    background-origin:border-box;
    background-repeat:no-repeat;
    background-color: #424657;
}

@media screen and (max-width: 390px) {

  .box-about-us {
    width: auto;
    height: auto;
    --w:77px;  
  }
}



