.text-box {
    display: flex;
    justify-content: center;
    //padding-top: 84px;
}

.text-box--blocks {
    background-color: #424657;
    width: 1184px;
    height: auto;
    border-radius: 45px;
    padding: 43px 41px 0px 41px ;
}