.text-box {
    display: flex;
    justify-content: center;
}

.text-box--blocks {
    background-color: #424657;
    width: 1184px;
    height: auto;
    border-radius: 45px;
    padding: 43px 41px 0px 41px ;
}

@media screen and (max-width: 1024px) {

    .text-box--blocks {
        width: auto;
        border-radius: 20px;
        padding: 16px 16px 0px 16px;
    }
    
    .text-box {
    padding: 0 32px 0px 32px;
}
}

    
