.faq-dropdown-list {
    background-color: #424657;
    width: 576px;
    height: auto;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.faq-dropdown-list h3 {
    font-size: 24px;
    color: #DDC79F;
    padding-top: 32px;
    padding-bottom: 32px;
}

.faq-dropdown--description {
    height: auto;
    padding: 0 32px 32px 32px;
    text-align: justify;
    color: #CECECE;
}

.faq-dropdown-list {
    padding: 0 32px 32px 32px;
    background-color: #424657;
    list-style: none;
}

@media screen and (max-width: 390px) {

    .faq-dropdown-list {
        width: 330px;
        height: auto;
        padding: 0 0 8px 0;
        border-radius: 20px;
    }

    .faq-dropdown-list h3 {
        font-size: 18px;
        color: #DDC79F;
        padding: 16px 0 16px 0;
        text-align: justify;
    }

    .faq-dropdown--description {
        height: auto;
        padding: 0 32px 16px 32px;
        text-align: center;
        font-size: 12px;
        line-height: 24px;
    }

    .MuiPaper-root {
        padding: 0 16px 0 16px;
    }

    .css-ahj2mt-MuiTypography-root {
        font-size: 12px;
    }
}