.main-header-one--background {
    width: 100%;
    height: 150px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
     rgba(0, 0, 0, 0.5)),
     url('../../assets/breadcrumbs-background/breadcrumbs-background.jpeg');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
   align-items: center;
}

.main-header-one {
    font-size: 72px;
    font-weight: bold;
    color: #333646;
    margin: 0;
    padding-left: 10%;
}

@media screen and (max-width: 768px) {
    
    .main-header-one--background {
        height: 128px;
    }

    .main-header-one {
        font-size: 36px;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    
    .main-header-one--background {
        height: 128px;
    }

    .main-header-one {
        font-size: 48px;
    }
}