.first-section-button {
    font-size: 24px;
    color: #323545;
    background-color: #DDC79F;
    height: 64px;
    width: 254px;
    border-radius: 50px;
    border: none;
}

@media screen and (max-width: 390px) {

    .first-section-button {
        font-size: 14px;
        height: 48px;
        width: 162px;
    }
}