.footer-services-items--wrapper {
   
    color: #fff;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
}

.footer-services-items--icon {
    font-size: 18px;
    color: #DDC79F;
    display: flex;
    align-items: center;
}

.footer-services-items--link {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}

.footer-services-items--link:hover {
    color: #DDC79F;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {

    .footer-services-items--icon {
        font-size: 12px;
    }

    .footer-services-items--link {
        font-size: 12px; 
    }
}

@media (min-width:769px) and (max-width:1024px) {

    .footer-services-items--wrapper {
        width: auto;
    }
    
    .footer-services-items--icon {
        font-size: 12px;
    }

    .footer-services-items--link {
        font-size: 12px; 
    }
}