.box-work-contact {
    margin-right: 32px;
    margin-top: 68px;
}

.box-work-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-work--buttons {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.box-work--buttons button {
    width: 240px;
    height: 64px;
    border-radius: 50px;
}

.box-work--button-call {
    background-color: #424657;
    border: 3px solid #333646;
    & a {
        font-size: 18px;
        color: #DDC79F;
        text-decoration: none;
    }
    
}

.box-work--button-cv {
    background-color: #DDC79F;
    border: none;
    & a {
        font-size: 18px;
        color: #323545;
        text-decoration: none;
    } 
}