.main-row-services-pages {
    display: flex;
    max-width: 1184px;
}

.main-row-services-pages img {
    width: 50%;
    height: 576px;
}

@media screen and (max-width: 1024px) {

    .main-row-services-pages {
        display: flex;
        flex-direction: column;
        width: auto;
    }
    
    .main-row-services-pages img {
        width: 100%;
        height: auto;
    }
}