.work-page--offers-boxs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
}

#work-page--contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 390px) {

    .work-page--offers-boxs {
        gap: 32px;
    }
}