.contact-cv-form{
    width: 1184px;
    height: 845px;
    background-color: #DDC79F;
    border-radius: 20px;
}

.contact-cv--head {
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-cv--header {
    font-size: 24px;
    color: #323545;
    text-transform: uppercase;
}

.contact-cv--body {
    width: 1184px;
    height: 776px;
    background-color: #424657;
    padding: 32px 32px 0 32px;  
}

.contact-cv--info {
    color: #C4C4C4;
    line-height: 24px;
    font-size: 18px;
}

.contact-cv--form {
    margin-top: 32px;
}

.contact-cv--button {
    width: 254px;
    height: 64px;
    background-color: #DDC79F;
    font-size: 18px;
    border-radius: 50px;
    border: none;
    color:#323545;
}

.contact-cv--button:hover {
    text-decoration: underline;
}

.contact-cv--button-section {
    display: flex;
    justify-content: center;
}

.contact-cv--form-content {
    background-color:#424657;
}

@media screen and (max-width: 768px) {

    .contact-cv-form{
        width: auto;
        height: auto;
        background-color: #DDC79F;
        border-radius: 20px;
        margin: 0 16px 0 16px;
        padding-bottom: 32px;
    }

    .contact-cv--body {
        width: auto;
        height: auto;
        background-color: #424657;
        padding: 16px 16px 0 16px;  
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contact-cv--info {
        color: #C4C4C4;
        line-height: 24px;
        font-size: 18px;
        text-align: center;
    }
}