.text-block {
    font-size: 18px;
    color: #CECECE;
    padding-bottom: 43px;
    height: auto;
    text-align: justify;
    line-height: 32px;
}

@media screen and (max-width: 768px) {

    .text-block {
        font-size: 12px;
        padding-bottom: 43px;
        text-align: justify;
        line-height: 24px;
        padding-bottom: 32px;
    }
}

