.bread-crumbs {
   padding-left: 3%;
   display: flex;
   align-items: center;
   padding: 10px 0 10px 3%;
}

.bread-crumbs i {
    color: #DDC79F;
    font-size: 24px;
    height: 24px;
    padding-right: 1%;
}

@media screen and (max-width: 768px) {

    .bread-crumbs {
        font-size: 12px;
    }

    .MuiBreadcrumbs-li {
        font-size: 12px;
    }
}