.bread-crumbs-background {
    width: 100%;
    height: 300px;
    background-image: url('breadcrumbs-background.jpeg');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}