.cooperation-list-item {
    width: auto;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}


.cooperation-list-item div {
    width: 272px;
    height: 128px;
    background-color: #424657;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.cooperation-list-item p {
    color: #CECECE;
    font-size: 24px;  
}

@media screen and (max-width: 768px) {

    .cooperation-list-item div {
        width: 150px;
        height: 32px; 
    }

    .cooperation-list-item p {
        font-size: 12px;  
    }
}

@media (min-width:769px) and (max-width:1024px) {
    
    .cooperation-list-item div {
        width: 320px;
        height: 64px; 
    }

    .cooperation-list-item p {
        font-size: 18px;  
    }
}