.second-slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;  
}

.second-slider-images {
    width: 1184px;
    height: 456px;
    border-radius: 20px;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 5%;
    font-size: 70px;
    color: #323545;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: 70px;
    color: #323545; 
    z-index: 10;
    cursor: pointer;
    user-select: none;  
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
}

@media screen and (max-width: 768px) {

    .second-slider {
        border-radius: 0px;  
    }
    
    .second-slider-images {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }

    .right-arrow {
        top: 40%;
        right: 5%;
        font-size: 35px;
    }
    
    .left-arrow {
        top: 40%;
        left: 5%;
        font-size: 35px; 
    }
}